<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @photographr.email %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @photographr.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @photographr.lname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @photographr.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @photographr.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @photographr.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @photographr.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @photographr.country %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @photographr.birthdate %>
</p>

<%= link_to 'Edit', edit_photographr_path(@photographr) %> |
<%= link_to 'Back', photographrs_path %>
