<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>: 
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :photo_image %>: 
    <%= f.file_field :photo_image , :html => { :multipart => true } %>
  </div>
  <div class="field">
    <%= f.label :Category %>: 
    <%= f.collection_select(:category_id, Category.all, :id, :title, {:prompt=>"Select Category"},{:class=>'dropdown'}) %>
  </div>
  <div class="field">
    <%= f.label :album %>: 
    <%= f.collection_select(:album_id, Album.all, :id, :title, {:prompt=>"Select Gallery", :selected => session[:album_id]},{:class=>'dropdown'}) %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Save photo"%>
  </div>
<% end %>