<%= form_for(@water_mark) do |f| %>
  <% if @water_mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water_mark.errors.count, "error") %> prohibited this water_mark from being saved:</h2>

      <ul>
      <% @water_mark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :watermark_image %>
    <%= f.file_field :watermark_image %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>




<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image , :html => { :multipart => true } %>
  </div>
  <div class="actions">
    <%= f.submit "Save Photo" %>
  </div>
<% end %>
